[Unit]
Description=Run StarMap deploy poller periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Unit=starmapd-deploy.service
Persistent=true

[Install]
WantedBy=timers.target

